mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #3f51b5;
  /* Couleur primary Angular Material */
}

/* Alignement du formulaire sur une ligne */
.remise-form {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.desc-field {
  flex: 1;
  /* Prend l'espace restant */
  min-width: 200px;
}

/* Style du tableau */
.table-container {
  margin-top: 10px;
}

table {
  width: 100%;
}

.no-data {
  color: #757575;
  font-style: italic;
  text-align: center;
  padding: 20px;
}

.badge-promo {
  background-color: #4caf50;
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.9em;
}